body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}

@font-face {
	font-family:'Louis George Cafe';
	src:local('Louis George Cafe'), url(./fonts/Louis George Cafe Bold.ttf) format('truetype');
}

@font-face {
  font-family:'SitkaB';
  src:local('SitkaB'), url(./fonts/SitkaB.ttc) format('truetype');
}

@font-face {
  font-family:'impact';
  src:local('impact'), url(./fonts/impact.ttf) format('truetype');
}